.logo-link{
height: auto;
float: right;
margin-right: 30px;


}


.search-bar{
background: #C5C5C5;
width: 550px;
height:40px ;
margin-top: 20px;
margin-right: 60px;
border-top-right-radius: 8px;
border-bottom-right-radius: 8px;
border-bottom-color: #C5C5C5;
border-right-color: #C5C5C5;
border-top-color: #C5C5C5;

float: right;
text-align: right;
justify-content: center;
}

.search-btn{
float: right;
background:#498BDD;
margin-top:20px;
height: 40px;
border-bottom-right-radius: 0;
border-top-right-radius: 0;
border-bottom-left-radius: 8px;
border-top-left-radius: 8px;
background:#373535
}

.shop-btn{
margin-top: 20px;
margin-left: 20px;
align-content: center;
justify-content: center;
}

.shop-icon{
vertical-align: baseline;
width: 20px;
height: 20px;
}

.bt-app1{
margin-left: 20px;
margin-top: 20px;
color: #100F0F;
font-size:15px;
}
.bt-app1:hover{text-decoration: none}

.bt-app2{
margin-left: 10px;
margin-top: 20px;
color: #100F0F;
font-size: 15px;
}
.bt-app2:hover{text-decoration: none}

.bt-app3{
margin-left: 10px;
margin-top: 20px;
color: #100F0F;
font-size: 15px;
}
.bt-app3:hover{text-decoration: none}

.nav-item{
margin-right: 20px;
}

.foot{

text-align: right;
margin-bottom: 0px;
position: sticky;
}
.part2{

background: #343A40;
}



.footer-head{
color:#B9B7B6;
margin-right: 40px;
font-family: naz;
}

.par{
color: #B9B7B6;
margin-right: 70px;
margin-left: 70px;
}


.part1{
text-align: right;
background: #EBEDF3
}

.col-link{text-align: center;
color: black;
}

.col-img{
display: block;
margin-left: auto;
margin-right: auto;
}
.col-link:hover{
text-decoration: none;

}
.part1:.row{
margin-top: 20px;
}


.new-bar{
width: 70%;
text-align: right;
height: 25.6%;
margin-top:15px;

}

.btn-new{
float: left;
margin-left:40px;
margin-top:15px;
border-top-right-radius: 0;
border-bottom-right-radius: 0;
height: 25.3%;
}

.dropdown-menu{
min-width: 300px;
right:0;
left:auto;

}

.dropdown-item{
color: white;
}

.dropdown-item:hover{
background: #717981;
}


.slider1-angle{
font-size: 35px;
}


.carousel-inner{
border-radius: 16px;



}



.carousel{;margin-top:25px; }
.carousel-control-prev1{left: -30px}
.carousel-control-next1{right: -25px}

.carousel .thumb-wrapper{
text-align: center;
}

.item{
overflow:hidden;
}

#carousel2 .carousel-item .row .col{margin-left: 20px;margin-right: 20px;background: grey}


.img-box{
    height: 160px;
    width: 100%;
    position: relative;
}

.carousel-prev-2{left: -60px;}
.carousel-next-2{right:-60px}
.ca-ic-pr{
    font-size: 40px;
    color: grey;
}

.ca-ic-ne{
    font-size: 40px;
    color: gray
}

.ca-ic-pr:hover{
    color:white;
}
.ca-ic-ne:hover{
    color: white;
}











